@import "tailwindcss";
@source "./../../node_modules/@belousovjr/uikit";
@import "@belousovjr/uikit";
 
:root {
  --background: var(--color-white);
  --foreground: var(--color-general-100);
}
  
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-redhat-mono);
}

@layer utilities {
  @keyframes fade-up {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
  }
  .animate-fade-up {
    animation: fade-up 150ms ease-out forwards;
  }  
}
 
html, body { 
  /* scrollbar-gutter: stable; */
  background: var(--background);
  color: var(--foreground); 
} 
 
.skeleton-background { 
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="166"><rect height="1" width="100%" fill="%23D7DBEC" /><circle cx="48" cy="39" r="28" fill="%23D7DBEC" /></svg>');
  background-repeat: repeat-y;
  background-size: min(600px, 100%) 166px;
  background-position-y: 0; 
}

.clouds-background {
  background: url("./../../public/clouds.svg"), linear-gradient(180deg, #F5F6FA50, #F5F6FA );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 60%, center;
}

  /* transition: background-position 100ms; */
/* bg-gradient-to-b from-[64px] from-general-30/50 to-general-30 */